{# /src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig"%}

{% block title %} {{parent()}} Suppression d'annonce {% endblock %}

{% block ocplatform_body %}
	<div class="well">
		L'annonce d'id {{id}} supprimée !
	</div>
{% endblock %}

